.quick-card{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
}

#quick-access {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 900px) {
  #quick-access {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}