:root {
  --primary: #1d1f20;
  --secondary: #cf7328;
  --accent: #cf7328;
  --white: #8d96a0;
}

a {
  text-decoration: none;
  color: var(--secondary);
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--primary);
  color: var(--white);
  margin: .5rem;
}



header {
  height: 3rem;
  background: var(--secondary);
}

/* BANNER */

#banner {
  margin-top: 7rem;
  text-align: left;
  line-height: 1.7rem;
  margin-bottom: 3rem;
}

.mine-title {
  font-size: 1.7rem;
  font-weight: bold;
}


.mine-subtitle {
  color: var(--accent);
}

.bt-container {
  margin-top: 3.5rem;
}

.bt {
  border: 1px transparent black;
  padding: 1rem;
  border-radius: 10px;
  background: var(--accent);
  color: var(--secondary);
  cursor: pointer;
}

.bt:hover {
  border: solid 1px var(--accent);
  background: transparent;
}

/* EXPERIENCE */
#experience {
  margin-bottom: 3rem;
}

.exp-item {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}

.exp-item div {
  padding-left: .5rem;
}

.exp-item div:first-child {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid var(--accent);

}

.exp-item div:nth-child(2) {
  line-height: 1.3rem;
}

/* NAV AREA */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  border-bottom: .5px solid var(--secondary);
  transition: background-color 0.5s ease, border-bottom 0.5s ease;
}

.nav-fixed {
  background-color: var(--primary);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  list-style: none;
}


/* SERVICES AREA */

#projects {
  display: flex;
  flex-direction: column;
}

.card {
  border: solid 1px black;
  border-radius: 10px;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.4rem;
  transition: 300ms ease-in-out;
  cursor: default;
}

.card:hover {
  background: var(--accent);
}

.icons-services-container {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.services-icon {
  width: 2.7rem;
}

/* PROJECTS AREA */

.projects-container {
  display: grid;
 
  gap: 1rem;
}

.project-card {
  text-align: left;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
  color: #8d96a0;
  background: #222425;
}

.project-title {
  margin: 0;
}

.utils-heading{
  padding-top: 1.5rem;
}
.project-summary {
  font-size: .8rem;
  font-weight: 300;
}

.project-links {
  padding-top: .5rem;
  display: flex;
  justify-content: space-around;
  gap: .5rem;
}

.project-demo-link,
.project-git-link {
  font-size: .8rem;
  color: var(--accent);
  letter-spacing: .2rem;
}

.project-tech {
  display: flex;
  gap: .6rem;
}

.tech-item {
  display: flex;
  gap: .3rem;
  align-items: center;
  font-size: .8rem;
}

.tech-point {
  color: #25298a;
}

.bt-project-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.bt-project {
  border: 1px transparent black;
  padding: 1rem;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  border-radius: 5px;
  background: var(--accent);
  transition: 300ms ease-in-out;
}

.bt-project:hover {
  border: solid 1px var(--accent);
  background: transparent;
}

/* CONTACT AREA */
#contact {
  margin-top: 3rem;
}

#contact h2 {
  text-align: center;
}

.contacts-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1.6rem;
}

.contact-link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}


.contact-icon {
  width: 1.3rem;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 3rem;
  border-top: 1px solid black;
}

footer a {
  cursor: pointer;
  color: var(--accent);
}




@media (min-width: 1200px) {

  a {
    font-size: 1.5rem;
  }

  body {
    padding-left: 23rem;
    padding-right: 23rem;
  }

  .title {
    font-size: 3.3rem;
  }

  /* NAV AREA */
  nav {
    padding-left: 22rem;
    width: 100vw;
  }

  /* BANNER */

  #banner {
    margin-top: 13rem;
  }

  .banner-icon {
    width: 11rem;
  }

  .mine-title {
    font-size: 4rem;
  }

  .mine-subtitle {
    font-size: 3.7rem;
  }

  .mine-description {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }


  /* SERVICES */

  .services-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .card {
    padding: 3rem;
    margin: 0;

  }

  /* EXPERIENCE */
  #experience {
    margin-top: 5rem;
  }



  .exp-item {
    font-size: 1.1rem;
  }

  .exp-item .second-row p {
    line-height: 1.8rem;
  }

  /* PROJECTS */



  .projects-container{
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  }

  #contact {
    margin-top: 11rem;
  }

  .contacts-container {
    gap: 3rem;
  }

  footer {
    margin-top: 5rem;
  }
}